@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  margin: 0;
  font-family: 'Poppins';
  padding: 0;
  overflow:hidden;
}

body img.footer {
  position: absolute;
  bottom: 0;
  height: 150px;/**/
  width: 100vw;
  opacity: 0.65;
  overflow:hidden;
}

img.middleimg {
  display: none;
}

.navbar {
  background: white;
  padding: 3px;
  margin: 0;
  border: 3px solid skyblue;
  border-bottom: 4px solid #2e8080;
  border-top: 2px solid skyblue;
}

.navbar .logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.middle{
  margin-top: 0%;/**/
}
.middle .form {
  margin: 0;/**/
  height: 395px;/**/
  padding-left: 3ex;
  padding-top: 3ex; /**/
  font-weight: bold;
  border-radius: 2.5ex;/**/
  background: black;
  opacity: 0.83;
  color: #fcff43;
  font-size: larger;
}

button {
  background: #007AF3;
  color: snow;
  width: 40%;
  font-size: 1.4em;
  border-radius: 0.6em;
  font-weight: bold;
  margin-top: 35px;
  margin-left: 25%;
  cursor: pointer;
}

.form input[type=text] {
  font-weight: 500;
  font-size: 1.4rem;
  padding-left: 2rem;
  width: 80%;
  height: 40px;
  margin-left: 3%;
  margin-right: 8%;
  margin-top: 12px;
  margin-bottom: 12px;
  border: 0;
  border-radius: 0.95rem;
  background: white;
}

.form input[type=password] {
  font-weight: 500;
  font-size: 1.4rem;
  width: 80%;
  padding-left: 2rem;
  height: 40px;
  margin-left: 3%;
  margin-right: 8%;
  margin-top: 12px;
  margin-bottom: 12px;
  border: 0;
  border-radius: 0.95rem;
  background: white;
}

.form input[type=checkbox] {
  margin-left: 0ex;
  margin-top: 32px;/**/
  margin-bottom: 12px;
  cursor: pointer;
}

.form span {
  font-weight: 700;
  color: red;
  margin-right: 70px;/**/
}

.name{
  word-spacing: 0.5em;
  font-size: medium ;/**/
  color:#350030 ;
  overflow:hidden;
}

.contact {
  font-size: small;/**/
  font-weight: bolder;
  position: absolute;
  bottom: 2vh;
  left: 4vw;/**/
  overflow:hidden;
}
@media only screen and (min-width: 530px) {
  body img.footer {
    height: 170px;
  }
  .middle{
    margin-top: 5%;
  }
  .middle .form {
    margin: auto;
    height: 405px;
    padding-left: 5ex;
    padding-top: 5ex;
    width: 80%;
    max-width: 480px;
    border-radius: 5ex;
  }
  .form input[type=text]{
    margin-left: 1%;
  }
  .form input[type=password]{
    margin-left: 1%;
  }
  .form input[type=checkbox] {
    margin-top: 42px;
  }
  
  .form span {
    margin-right: 100px;
  }
  
  .name{
    font-size: larger;
  }
  
  .contact {
    font-size: large;
    font-weight: bold;
    bottom: 3vh;
    left: 6vw;
  }
}
@media only screen and (min-width: 900px) {
.middle {
  display: flex;
  margin: auto;
  margin-top:35px;
}

img.middleimg {
  display: block;
  margin: auto;
  width: 20%;
  height: 20%;
}
.middle .form {
  width: 50%;
}
}
